<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="personal page">
		<meta name="author" content="romaChe">
		<title>Home page</title>
	</head>
	<body>
		<% include includes/header %>
		<% include includes/main-menu %>
		<h1>Home page</h1>
		<p>Tra ta ta</p>
	</body>
</html>
